/* index.css or App.css */
@import 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf_viewer.css';
/* Add this to your global CSS file */
/* @import '~highlight.js/styles/github.css'; */

option {
  color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active .MuiInputBase-root:has(> input:-webkit-autofill) {
  -webkit-background-clip: text;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inherit !important;
  /* background-color: #ffffff; */
  /* box-shadow: 0 0 0 1000px #ffffff inset; */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
